<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>iChat</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="chat.css">
</head>

<body>
<!--     <div class="mask">
        <div class="dialog dialog-login">
            <input type="text" placeholder="请出入昵称"/>
            <a class="btn-login">登录</a>
        </div>
    </div> -->

    
    <div class="app">
        <!-- 用户列表 -->
        <ul class="users">
            <li v-for="user in users" v-text="user.nickname"></li>
        </ul>
        <!-- /用户列表 -->
        <div class="dialog">
            <ul id="j-say-list">
                <template v-for="item in dialog">
                    <li transition="i_say" v-if="'i_say' == item.type">
                        <a class="i-say" v-text="'我 : ' + item.content"></a>
                    </li>
                    <li transition="other_say" v-else>
                        <a class="other-say" v-text="item.nickname + ' : ' + item.content"></a>
                    </li>
                </template>
            </ul>
            <div class="bar">
                <div class="say">
                    <input placeholder="说你所想" class="content" type="text" v-model="i.content" v-on:keydown.13="send">
                    <a class="btn-send" v-on:click="send">发送</a>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="http://cn.vuejs.org/js/vue.js"></script>
    <script type="text/javascript">

    function autoScroll() {
        var scroll_top = document.body.scrollTop; // 滚动条距浏览器view上端距离
        var win_height = window.innerHeight; // 浏览器view高
        var doc_height = document.body.scrollHeight; // html高度
        var list_height = document.getElementById('j-say-list').scrollHeight;
        document.body.scrollTop = list_height - win_height + 200;
    }
    var socket = io('http://192.168.18.60:90');

    var vm = new Vue({
        'el': 'body',
        'data': {
            'i': {
                'nickname': '123',
                'content': ''
            },
            'dialog': [],
            'users': [{
                'nickname': '黑猫警长'
            },{
                'nickname': '葫芦娃'
            }]
        },
        'computed': {

        },
        'created': function() {
            var _this = this;
            // socket.on('other_say', function(data) {
            //     _this.say.push(data);
            //     autoScroll()
            // });
        },
        'methods': {
            'send': function() {
                var _this = this;
                this.dialog.push({
                    'nickname': _this.i.nickname,
                    'content': _this.i.content,
                    'type': 'i_say'
                });

                socket.emit('send', {
                    'nickname': _this.i.nickname,
                    'content': _this.i.content,
                    'type': 'other_say'
                });
                // 清空input
                this.i_say = '';
                autoScroll();
            }
        }
    });
    </script>
</body>

</html>
