*{padding:0;margin:0;font-family:'微软雅黑','microsoft yahei','新宋体','宋体',Tahoma,Verdana,Arial,Helvetica,sans-serif;}
html{overflow-y:scroll;}
li{list-style:none;}
a,p{font-size:14px;}
input{outline:none;border:0 none;}
::selection{background:rgba(0,0,0,0.8);color:#00BFFF;}
::-moz-selection{background:rgba(0,0,0,0.8);color:#00BFFF;}
::-webkit-selection{background:rgba(0,0,0,0.8);color:#00BFFF;}
::-ms-selection{background:rgba(0,0,0,0.8);color:#00BFFF;}
::-webkit-scrollbar{background:#ccc;width:3px;height:3px;}
::-webkit-scrollbar-thumb{background:#888;}
::-moz-scrollbar{background:#444;width:8px;}
::-moz-scrollbar-thumb{background:#888;}
::-ms-scrollbar{background:#444;width:8px;height:3px;}
::-ms-scrollbar-thumb{background:#888;}
.clearfix{clear:both;}
.pull-left{float:left;}
.pull-right{float:right;}
/*input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:rgba(255,255,255,0.2);}
input:-moz-placeholder,textarea:-moz-placeholder{color:rgba(255,255,255,0.2);}
input::-moz-placeholder,textarea::-moz-placeholder{color:rgba(255,255,255,0.2);}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:rgba(255,255,255,0.2);}*/