<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iChat</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <div class="mask" v-show="mask_show">
        <div class="dialog dialog-login">
            <input v-model="i.nickname" type="text" placeholder="请出入昵称"/>
            <a class="btn-login" v-on:click="signIn">登录</a>
        </div>
    </div>


    <div class="app">
        <!-- 用户列表 -->
        <ul class="users">
        <template v-for="(i, user) in users">
            <li v-bind:class="{active: user.active}" v-on:click="switchUser(i)" v-text="user.nickname"></li>
        </template>
        </ul>
        <!-- /用户列表 -->
        <div class="dialog">
            <ul id="j-say-list">
                <template v-for="item in user_active.dialog">
                    <li transition="i_say" v-if="'i_say' == item.type">
                        <a class="i-say" v-text="item.content"></a>
                    </li>
                    <li transition="other_say" v-else>
                        <a class="other-say" v-text="item.content"></a>
                    </li>
                </template>
            </ul>
            <div class="bar">
                <div class="say">
                    <input placeholder="说你所想" class="content" type="text" v-model="i.content" v-on:keydown.13="send">
                    <a class="btn-send" v-on:click="send">发送</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript">
    function autoScroll() {
        var scroll_top = document.body.scrollTop; // 滚动条距浏览器view上端距离
        var win_height = window.innerHeight; // 浏览器view高
        var doc_height = document.body.scrollHeight; // html高度
        var list_height = document.getElementById('j-say-list').scrollHeight;
        document.body.scrollTop = list_height - win_height + 200;
    }
    var socket = io('http://192.168.18.60:90');

    var vm = new Vue({
        'el': 'body',
        'data': {
            'i': {
                'nickname': '宁宁'
            },
            'user_active': {},
            'users': [],
            'mask_show': true
        },
        'computed': {

        },
        'created': function() {
            var _this = this;

            socket.on('otherSignIn', function(data) {
                data.active = false;
                data.dialog = [];
                _this.users.splice(0, 0, data);
            });

            socket.on('receive', function(data) {
                var from_nickname = data.from.nickname;
                _this.users.map(function(user){
                    if (from_nickname == user.nickname) {
                        user.dialog.push({
                            'content': data.from.content,
                            'type': 'other_say'
                        });
                    }
                });
            });
        },
        'methods': {
            'signIn': function(){
                var _this = this;
                this.mask_show = false;
                socket.emit('signIn', {
                    'nickname': _this.i.nickname
                });
            },
            'switchUser': function(i){
                this.user_active.active = false;
                this.user_active = this.users[i];
                this.user_active.active = true;
            },
            'send': function() {
                var _this = this;
                // UI变化
                this.user_active.dialog.push({
                    'type': 'i_say',
                    'content': _this.i.content
                });
                // socket通信
                socket.emit('send', {
                    'from': {
                        'nickname': _this.i.nickname,
                        'content': _this.i.content
                    },
                    'to': {
                        'nickname': _this.user_active.nickname
                    }
                });
                // 清空input
                this.i_say = '';
                autoScroll();
            }
        }
    });
    </script>
</body>

</html>
